.sectionTitle {
    display: block;
    text-align: left;
    font-weight: bold;
}
body {
    background-color:#CCCCCC;
}
.rightAlignDate {
    display: block;
    text-align: right;
    font-weight: bold;
}

.my_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.links {
    display: block;
    text-align: center;
}